.container {
    display: flex;
    column-gap: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 33.17vw;
    margin-right: 33.17vw;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-top: 50px;

    box-shadow:
    0px 0px 10px rgba(0, 0, 0, 0.17),
    0px 0px 80px rgba(0, 0, 0, 0.34)
    ;

}

input {
    width: 330px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: transparent;
}

button {
    background-color: rgb(39, 132, 198);
    color: bisque;
    padding: 5px;
    border-radius: 7px;

}

button:active {
    transform: translateY(1px);
}
button:hover {
    opacity: 0.9;
}

@media (max-width: 1000px) {
    input {
        width: 25.76vw;
        font-size: 1.56vw;
    }

    .container {
        display: flex;
        column-gap: 1.56vw;
        background-color: rgb(255, 255, 255);
        margin-left: 33.17vw;
        margin-right: 33.17vw;
        padding-left: 1.56vw;
        padding-top: 1.56vw;
        padding-bottom: 1.56vw;
        margin-top: 3.90vw;
    
        box-shadow:
        0px 0px 10px rgba(0, 0, 0, 0.17),
        0px 0px 80px rgba(0, 0, 0, 0.34)
        ;
    
    }

}