@font-face {
    font-family: 'JosefinSans';
    src: url('/assets/fonts/JosefinSans-VariableFont_wght.ttf');
}

.attribution { font-size: 11px; text-align: center; background-color: rgb(145, 142, 142); margin-left: 38vw; margin-right: 38vw; margin-top: 10vw;}
.attribution a { color: hsl(228, 45%, 44%); }

.container {
    display: grid;
    background-color: white;
    margin-top: 40px;
    grid-template: 90% 10%/1fr;
    margin-left: 33.17vw;
    margin-right: 33.17vw;
    padding-left: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;

    box-shadow:
    0px 0px 10px rgba(0, 0, 0, 0.17),
    0px 0px 80px rgba(0, 0, 0, 0.34)
    ;


}

.mobileFilterCard {
    display: none;
    background-color: white;
    margin-top: 50px;

    margin-left: 33.17vw;
    margin-right: 33.17vw;

    border-radius: 5px;

    box-shadow:
    0px 0px 10px rgba(0, 0, 0, 0.17),
    0px 0px 80px rgba(0, 0, 0, 0.34)
    ;

    padding-top: 20px;
    padding-bottom: 20px;

    justify-content: space-around;
    align-items: center;
    column-gap: -20px;
    
}



ul {
    list-style-type: none;
}

.list-element {
    display: grid;
    grid-template: 1fr / 60px 1fr 50px;
    padding-right: 20px;
}

.svg-container {
    width: 33.50vw;
}

.svg-divider {
    width: 100%;
    margin-left: -20px;
    height: 20px;
    margin-top: 20px;
}

.doneButton {
    -webkit-appearance:none;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 10%;
    outline: none;
}

.doneButton:hover {
    background-image: url('/assets/icon-cross.svg');
}




.taskName {
    display: flex;
    justify-content: left;
    cursor: move;
    font-family: JosefinSans;
}

.button-center-mobile {
    font-size: 3vw;
}




.list {
    grid-area: 1/1/2/2;
}

.info {
    display: grid;
    grid-area: 2/1/3/2;
    grid-template: 1fr/1fr 1fr 1fr;
    margin-top: 5px;
}

.left {
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: JosefinSans;
}
.center {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 6px;
}

.center-mobile {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 15px;
}
.right {
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: JosefinSans;
}

button {
    text-align: center;
    font-size: 12px;
    border: none;
    color: rgb(91, 91, 91);
    background-color: transparent;
    font-family: JosefinSans;
}

button:hover {
    text-align: center;
    font-size: 12.2px;
    border: none;
    color: black;
    cursor: pointer;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    padding: initial;
    border: initial;
}


/*
.container {
    display: flex;
    column-gap: 20px;
    background-color: white;
    margin-left: 425px;
    margin-right: 425px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;

}
*/

@media(max-width: 1000px) {
    
    .taskName {
        font-size: 1.5vw;
    }

    .left {
        font-size: 1vw;
    }

    .right {
        font-size: 0.75vw;
    }

    .button-center {
        font-size: 1vw;
    }

    button:hover {
        font-size: 1.05vw;
    }

    .svg-container {
        width: 32.27vw;
    }

    .svg-divider {
        width: 100%;
        margin-left: -20px;
        height: 1.50vw;
        margin-top: 1.50vw;
    }

    .container {
        padding-bottom: 1.56vw;
        margin-top: 3.1vw;
    }

    .list-element {
        display: grid;
        grid-template: 1fr / 4.68vw 1fr 3.90vw;
        padding-right: 1.56vw;
    }

    .doneButton {
        -webkit-appearance:none;
        margin-right: 1.56vw;
        width: 1.56vw;
        height: 1.56vw;
        border: 1px solid grey;
        border-radius: 10%;
        outline: none;
    }
}

@media (max-width: 500px) {
    .container {
        display: grid;
        background-color: white;
        margin-top: 9.70vw;
        grid-template: 90% 10%/1fr;
        margin-left: 8vw;
        margin-right: 8vw;
        padding-left: 4.85vw;
    
        padding-top: 4.85vw;
        padding-bottom: 4.85vw;
        border-radius: 1.21vw;
    
        box-shadow:
        0px 0px 10px rgba(0, 0, 0, 0.17),
        0px 0px 80px rgba(0, 0, 0, 0.34)
        ;
    
    
    }

    .svg-container {
        width: 84vw;
    }

    .svg-divider {
        width: 100%;
        margin-left: -20px;
        height: 2vw;
        margin-top: 3vw;
    }

    .taskName {
        font-size: 3.5vw;
        margin-left: 3vw;
        padding-top: 1.2vw;
    }

    .doneButton {
        -webkit-appearance:none;
        margin-right: 4vw;
        width: 5vw;
        height: 5vw;
        border: 1px solid grey;
        border-radius: 10%;
        outline: none;
    }

    .list-element {
        display: grid;
        grid-template: 1fr / 20px 1fr 50px;
        padding-right: 20px;
    }

    .info {
        display: grid;
        grid-area: 2/1/3/2;
        grid-template: 1fr/1fr 1fr 1fr;
        margin-top: 2vw;
    }

    .left {
        font-size: 3vw;
    }

    .right {
        font-size: 3vw;
    }

    .button-center {
        display: none;
    }

    .button {
        font-size: 3vw;
    }

    button:hover {
        text-align: center;
        font-size: 3vw;
        border: none;
        color: black;
        cursor: pointer;
    }

    .mobileFilterCard {
        display: flex;
        background-color: white;
        margin-top: 6vw;
    
        margin-left: 8vw;
        margin-right: 8vw;
    
        border-radius: 5px;
    
        box-shadow:
        0px 0px 10px rgba(0, 0, 0, 0.17),
        0px 0px 80px rgba(0, 0, 0, 0.34)
        ;
    
        padding-top: 20px;
        padding-bottom: 20px;
    
        justify-content: space-around;
        align-items: center;
        column-gap: -20px;
        
    }

    .attribution { font-size: 7px; text-align: center; background-color: rgb(145, 142, 142); margin-left: 20vw; margin-right: 20vw; margin-top: 10vw;}
    .attribution a { color: hsl(228, 45%, 44%); }
}